<h1>Listing cart2s</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cart2s.each do |cart2| %>
  <tr>
    <td><%= cart2.name %></td>
    <td><%= cart2.description %></td>
    <td><%= link_to 'Show', cart2 %></td>
    <td><%= link_to 'Edit', edit_cart2_path(cart2) %></td>
    <td><%= link_to 'Destroy', cart2, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Cart2', new_cart2_path %>
