<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @cart2.name %>
</p>

<p>
  <b>Description:</b>
  <%= @cart2.description %>
</p>


<%= link_to 'Edit', edit_cart2_path(@cart2) %> |
<%= link_to 'Back', cart2s_path %>
